html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
}

section {
	display: block;
	height: auto;
}

p {
	margin: 0.25rem !important;
}

a {
	text-decoration: none;
}

img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

img.profile-pic {
	object-fit: cover;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	margin: 0;
	margin-left: 4px;
}

qr-code {
	display: none;
	height: 125px;
	width: 125px;
	margin: 0;
	margin-left: 4px;
}

img.company-logo {
	margin-right: 0;
	height: auto;
	width: 300px;
}

.icon-div {
	margin-left: 4px;
}

.additional-info img {
	margin-left: 8px;
	height: 30px;
	width: 30px;
}


.container {
	margin: 0 auto;
	position: relative;
	height: 100%;
	object-fit: contain;
}

.row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
	position: relative;
	height: 100%;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	overflow: hidden;
}

.col {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0.25rem;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
}

.col.is-1 {
	flex: none;
	width: 10%;
}

.col.is-2 {
	flex: none;
	width: 20%;
}

.col.is-3 {
	flex: none;
	width: 30%;
}

.col.is-4 {
	flex: none;
	width: 40%;
}

.col.is-5 {
	flex: none;
	width: 50%;
}

.col.is-6 {
	flex: none;
	width: 60%;
}

.col.is-7 {
	flex: none;
	width: 70%;
}

.col.is-8 {
	flex: none;
	width: 80%;
}

.col.is-9 {
	flex: none;
	width: 90%;
}

.col.is-10 {
	flex: none;
	width: 100%;
}

.name-title-company {
	height: 100%;
}

.banner {
	padding-top: 30px;
	padding-bottom: 30px;
	height: 150px;
}

.primary-info {
	height: 100px;
	background-color: #00447A;
	border-bottom: 1px solid #EDEDED;

}

.secondary-info {
	height: 60px;
	border-bottom: 1px solid #EDEDED;

}

.bg-color-orange {
	background: linear-gradient(#ffcb05, #fcaf17);
}

.bg-color-white {
	background-color: #ffffff;
}

.bg-color-blue {
	background: linear-gradient(#00447c, #0060a6);
}

.text-name {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 24px;
}

.text-title-company {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
    font-size: 16px;
}

.text-detail {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #00447A;
    font-size: 14px;
}

.bottom {
	height: 100px;
}

.button {
	display: block;
	background: linear-gradient(#ffcb05, #fcaf17);
	height: 48px;
	padding: 0px; 0px;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
	font-family: 'Muli', sans-serif;
	color: #ffffff;
	font-weight: 300;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.share-button {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
	text-align: center;
}

.share-button:hover {
	cursor: pointer;
}

.share-icon {
	width: 18px;
	height: 18px;
	display: inline-block;
}
